.form {
    margin-top: 30px;
    display: flex;
}

#search-input {
    border-radius: 50px;
    height: 60px;
}

#search-input-dark {
    background-color: rgb(39 39 39);
    border: 1px solid #ffffff61;
    color: white;
    border-radius: 50px;
    height: 60px;
    /* transition: color 0.3s ease;
    transition: background-color 0.3s ease; */
}

#search-button {
    height: 50px;
    width: 150px;
    align-self: center;
    margin-left: 10px;
    border-radius: 30px;
    box-shadow: 0px 4px 5px rgb(58 61 60 / 40%);
}